<div ng-controller="singleRowCtrl" style="padding-left: 5px">
  <h3>Nieuw Land.</h3>

  <p>Voer nieuwe rij op.</p>

  <div class="dml" align="left">
    <form name="dmlForm" novalidate>
      <table>
        <tr>
          <td>Code </td>
          <td>&nbsp</td>
          <td>
            <input class="form-control"
                   style="width: 20%"
                   size="5"
                   maxlength="5"
                   name="code"
                   placeholder="code"
                   ng-model="selectedRow.code"/>
            <span class="alert alert-warning" ng-show="zoekmeter.fabrieksNummer.minlength">Minimaal 4 tekens</span>
          </td>
        </tr>
        <tr>
          <td>Omschrijving</td>
            <td>&nbsp</td>
            <td>
            <input class="form-control"
                   size="50"
                   ng-maxlength="50"
                   name="omschrijving"
                   placeholder="omschrijving"
                   ng-model="selectedRow.omschrijving"/>
          </td>
        </tr>
      </table>
        <button class="btn btn-primary">Leg vast</button>
    </form>
  </div>

</div>
